.bottom-image img{
    vertical-align:bottom;
    }

.header1{
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Staatliches', cursive;
    color: black;
    background: rgb(104, 173, 170);
    font-size: 80px;
    
}

#movedown{
    margin-top: 20px;
}

#title{
    text-align: center;
    background: rgb(104, 173, 170);
    font-family: 'Staatliches', cursive;
    font-size: 100px;
}