.bottom-image img{
    vertical-align:bottom;
    }

.header1{
    font-family: 'Roboto Mono', monospace;
    color: black;
    background: lightseagreen;
    font-size: 80px;
}

#movedown{
    margin-top: 20px;
}