<footer class="text-center footer" style="background-color: #8398d3;">
  <br>
  <!-- <div class="row">
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <h5 class="text-uppercase">Links</h5>
      <ul class="list-unstyled mb-0">
        <li>
          <a href="/post/list" class="text-black">Forum</a>
        </li>
        <li>
          <a href="/advice/list" class="text-black">Advice Wall</a>
        </li>
        <li>
          <a href="/game" class="text-black">Game</a>
        </li>
        <li>
          <a href="/aboutme" class="text-black">About Me</a>
        </li>
        <br>
      </ul>
    </div>
</div> -->
    <div class="modal-body row">
      <div class="col-md-3">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="/post/list" class="text-black">Forum</a>
          </li>
          <li>
            <a href="/advice/list" class="text-black">Advice Wall</a>
          </li>
          <li>
            <a href="/game" class="text-black">Game</a>
          </li>
          <li>
            <a href="/researh" class="text-black">Research (Quick Notes)</a>
          </li>
          <li>
            <a href="/aboutme" class="text-black">About Me</a>
          </li>
          <br>
        </ul>
      </div>
      <div class="col-md-9">
        <br>
        <h5>Release Notes: More work</h5>
        <h5>Version History: 3.14</h5>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: #6f84bd;">
      © 2022 Copyright:
      <a class="text-black">Because I said so</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->