<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<div class="header1">
    <p>About Me</p>
</div>
<h5>About This App</h5>
<ul>
    <li>
        <p>The purpose of the app is to:</p>
        <ul>
            <li><p>To inform users about the causes and effects of social anxiety.</p></li>
            <li><p>To address the lack of knowledge regarding the causes and effects.</p></li>
        </ul>
    </li> 
    <li>
        <p>The types of interactivity of this app include:</p>
        <ul>
            <li><p>Collecting user generated content (in a live forum)</p></li>
            <li><p>Gamification (quick interactive story game)</p></li>
        </ul>
    </li>

    <li>
        <p>A (totally) certified user story:</p>
        <ul>
            <li>
                <p>Sue is a freshman who has questions about the queasiness she feels. She’s been told it must be social anxiety, but she asks, “What is it actually?” She stumbles upon the site after a quick search and finds conveniently listed and organized information. However, she gets bored of reading the text. She discovers a box inviting her to play a quick story game. Throughout the game, she makes small interactive movements and follows along a story telling of a girl who struggles through anxiety and learns of ways to heal. Consequently, Sue vows to integrate some habits into her daily routine. Additionally, she clicks on an user forum and reads comments from people describing similar emotions. Sue chats with someone also online and feels a weight lifted off her shoulders.</p>
            </li>
        </ul>
    </li>
</ul>
<hr>
<h5>Super Rare picture (carbon dated: when she was happier staying home 24/7)</h5>
<!-- <div>
    <p style="float: left;"><img src="/static/facepic.png" width="300px"></p>
    <br><br><br><br><br>
    <p>Author's Blurb: It probably won't be finished but I'll try.</p>
</div> -->
<div class="row border">
    <div class="col-4 border">
      <img class="mx-auto d-block" src="/static/facepic.png" width=250px alt="">
    </div>
    <div class="col-8 border">
       <h6 class="justifytext" id="movedown">Author's Blurb</h6> 
       <p>It probably won't be finished, but I'll try my best.</p>
       <p>To instill amongus characters that is...</p>
       <p>To have little amogus characters running around...That's sus</p>
    </div>
</div>
<hr>
<h5>Version Notes:</h5>
<p>Version 1</p>
<p>Release note: Started About Me Page</p>
<p>checking github</p>
{% endblock %}