<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1 class="header1">About The App</h1>
<h5>About This App</h5>
<ul>
    <li>
        <p>The purpose of the app is to:</p>
        <ul>
            <li><p>To inform users about the causes and effects of social anxiety.</p></li>
            <li><p>To address the lack of knowledge regarding the causes and effects.</p></li>
            <li><p>To provide a platform allowing people to connect and share experiences and motivational messages.</p></li>
        </ul>
    </li> 
    <li>
        <p>The types of interactivity of this app include:</p>
        <ul>
            <li><p>Collecting user generated content (in a live discussion forum and advice section)</p></li>
            <li><p>Gamification (quick interactive story game)</p></li>
        </ul>
    </li>

    <li>
        <p>A (totally) certified user story:</p>
        <ul>
            <li>
                <p>Sue is a freshman who has questions about the queasiness she feels. She’s been told it must be social anxiety, but she asks, “What is it actually?” She stumbles upon the site after a quick search and finds conveniently listed and organized information. However, she gets bored of reading the text. She discovers a box inviting her to play a quick story game. Throughout the game, she makes small interactive movements and follows along a story telling of a girl who struggles through anxiety and learns of ways to heal. Consequently, Sue vows to integrate some habits into her daily routine. Additionally, she clicks on an user forum and reads comments from people describing similar emotions. Sue chats with someone also online and feels a weight lifted off her shoulders.</p>
            </li>
        </ul>
    </li>
</ul>
<hr><hr>
<h5 style="text-align:center;">Super Rare picture (carbon dated: when she was happier staying home 24/7)</h5>
<br>
<img class="mx-auto d-block" src="/static/facepic.png" width=250px alt="oh wow, where did my face go?">
<h5 class="justifytext" style="text-align:center;" id="movedown">Author's Blurb</h5> 
<p style="text-align:center;" >Won't be finished yes,</p>
<p style="text-align:center;" >But my goal is to install</p>
<p style="text-align:center;">Running amongus</p>
<hr><hr>
<h1 class="header1">...Social Anxiety?</h1>
<h5>So What is Social Anxiety?</h5>
<ul>
    <li><p>Social anxiety affects 19 million people in America and 1 out of 3 adolescents between the ages of 13 and 18. (1)</p></li>
    <li><p>It is characterized to be a common anxiety disorder that can disrupt everyday behavior by blooming stress out of the fear of being humilated or viewed negatively. (5)</p></li>
    <li><p>Psychological Symptoms (5)</p></li>
    <ul>
        <li><p>Feeling an intense fear that one might humilate themselves, seem anxious to others, or be in a situation where one is viewed negatively by those around them</p></li>
        <li><p>Avoiding speaking or engaging in situations where one might be the center of attention</p></li>
        <li><p>Reflecting and overthinking on the negative flaws on one's performance</p></li>
    </ul>
    <li><p>Physical Symptoms (5)</p></li>
    <ul>
        <li><p>Trembling, blushing, and sweating</p></li>
        <li><p>Upset stomach from nervousness</p></li>
        <li><p>Muscle tension</p></li>
        <li><p>Dizziness or blank mind</p></li>
    </ul>
    <li><p>Performance type: one experienecs great anxiety speaking/performing in public but not in other situations</p></li>
</ul>
<h5><p>Past research suggests that adolescents are more sensitive to social evaluation.</p></h5>
<ul>
    <li><p>Social experiment and journals indicate that adolescents are more likely to constantly feel watched where "they are under constant scrutiny by an imaginary audience." (2)</p></li>
    <li><p>Adolescents have been recorded to release more cortisol, a stress hormone, when they feel watched. (3)</p></li>
    <li><p>Negative social feedback cause teenagers more stress compared to adults. (3)</p></li>
    <li><p>Compared to adults, teenagers spend more effort engaging their brains to understand and socialize with others, for the opinions of others remain much more influential and important to adolescents. (4)</p></li>
</ul>
<h5>Sources (thank you, to be polished in the near future)</h5>
<ol>
    <li>Polaris Teen Center</li>
    <li>Elkin and Bowen</li>
    <li>Gunnar, Wewerka, Frenn, Long, & Griggs, 2009; Stroud et al., 200</li>
    <li>“The Teenage Brain: Sensitivity to Social Evaluation” by Leah H. Somerville, The Teenage Brain: Sensitivity to Social Evaluation - Leah H. Somerville, 2013 </li>
    <li>Mayo Clinic</li>
</ol>
<br><br>
{% endblock %}