<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1 class="header1">About The App</h1>
<h6>About This App</h6>
<ul>
    <li>
        <p>The purpose of the app is to:</p>
        <ul>
            <li><p>To inform users about the causes and effects of social anxiety.</p></li>
            <li><p>To address the lack of knowledge regarding the causes and effects.</p></li>
            <li><p>To provide a platform allowing people to connect and share experiences and motivational messages.</p></li>
        </ul>
    </li> 
    <li>
        <p>The types of interactivity of this app include:</p>
        <ul>
            <li><p>Collecting user generated content (in a live discussion forum and advice section)</p></li>
            <li><p>Gamification (quick interactive story game)</p></li>
        </ul>
    </li>

    <li>
        <p>A (totally) certified user story:</p>
        <ul>
            <li>
                <p>Sue is a freshman who has questions about the queasiness she feels. She’s been told it must be social anxiety, but she asks, “What is it actually?” She stumbles upon the site after a quick search and finds conveniently listed and organized information. However, she gets bored of reading the text. She discovers a box inviting her to play a quick story game. Throughout the game, she makes small interactive movements and follows along a story telling of a girl who struggles through anxiety and learns of ways to heal. Consequently, Sue vows to integrate some habits into her daily routine. Additionally, she clicks on an user forum and reads comments from people describing similar emotions. Sue chats with someone also online and feels a weight lifted off her shoulders.</p>
            </li>
        </ul>
    </li>
</ul>
<hr>
<h6>Initial Web App Wireframe</h6>
<center>
<img src="/static/wireframe.png" width="800px" alt="">
</center>
<hr>
<h6>Me, The Creator</h6>
<div class="modal-body row">
    <div class="col-md-5">
<img class="mx-auto d-block" src="/static/facepic.png" width=350px alt="oh wow, where did my face go?">
</div>
<div class="col-md-7">
<!-- <h5 class="justifytext" style="text-align:center;" id="movedown">Author's Blurb</h5> 
<p style="text-align:center;" >Won't be finished yes,</p>
<p style="text-align:center;" >But my goal is to install</p>
<p style="text-align:center;">Running amongus</p> -->
<p>A work in progress. My brain capacity is too low to code a game.</p>
<p>Maybe in ten years I'll be able to javascript like a pro.</p>
<p>But as of 5/9/2022, I can't.</p>
<hr>
<p>It is often better to work in a team than alone.</p>
<p>Two heads are better than one.</p>
<p>End</p>
</div>
</div>
<br><br>
{% endblock %}