{% extends "base.html" %}

{% block body %}
<h1 class="header1">Advice Form</h1>

<form method=post>
    {{ form.hidden_tag() }}
    <p>
        {{ form.advicetype.label }} <br>
        {{ form.advicetype(size=1) }}
        <!--List the errors for this field-->
        {% for error in form.advicetype.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.content.label }} <br>
        {{ form.content(cols=60, rows=5) }}
        <!--List the errors for this field-->
        {% for error in form.content.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <!-- <p>
        {{ form.image() }}<br>
        {% for error in form.image.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p> -->
    <p>
        {{ form.colorbg.label }} <br>
        {{ form.colorbg(size=1) }}
        <!--List the errors for this field-->
        {% for error in form.colorbg.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{form.submit()}}
    </p>
</form>
<br><br><br><br>
{% endblock %}