{% extends 'base.html' %}

{% block body %}

{% if entry %}

{{moment(entry.createdate).calendar()}} by {{entry.author.username}} 
{% if entry.modifydate %}
    modified {{moment(entry.modifydate).calendar()}}
{% endif %}
<br>
    {% if entry.author == current_user %}
        <a data-toggle="tooltip" data-placement="top" title="Delete Entry" href="/entry/delete/{{entry.id}}">
            <img width="40" class="bottom-image" src="/static/delete.png">
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Edit Entry" href="/entry/edit/{{entry.id}}">
            <img width="40" class="bottom-image" src="/static/edit.png">
        </a>
    {% endif %}

    <p class="fs-3 text-break">
        {% if entry.author.image %}
            <img width="120" class="img-thumbnail float-start me-2" src="data:image;base64,{{base64encode(post.author.image.read())}}">
        {% endif %}
            {{entry.entrycontent}}
    </p>
    
{% else %}
    <h1 class="display-5">No Entries</h1>
{% endif %}

{% endblock %}