<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1 class="header1">...so what is social anxiety?</h1>
<!-- Negative Thoughts Minigame -->
<h6>Case Study: Negative Thoughts</h6>
<div class="modal-body row">
  <div class="col-md-7">
    <p>Self-defeating subconscious negative thoughts can shatter one's confidence. Social anxiety can be the cause of the irrational thinking.</p>
    <p>Moreover, research reveals that adolescents are more sensitive to the thoughts and impressions of others. Negative opinions become more significant and mean more.</p>
    <p>The habit of identifying and eradicating those irrational self-depricating thoughts can aid in easing the anxiety. Your thoughts aren't always a perfect representation of reality, and you are awesome!</p>
    <p>We are our own worst critics after all.</p>
    <br>
    <h6>Helpful Resources</h6>
    <a href="https://www.verywellmind.com/what-are-negative-automatic-thoughts-3024608">VeryWell Mind</a>
  </div>
  <div class="col-md-5">
    <br><br>
<img src="https://live-production.wcms.abc-cdn.net.au/6b3e17dd3e66a51dd0c23e1381f07cbe?impolicy=wcms_crop_resize&cropH=1080&cropW=1918&xPos=1&yPos=0&width=862&height=485" width="350px" alt="">
</div>

</div>
<hr>
<h6>Physical Symptoms</h6>
<div class="modal-body row">
  <div class="col-md-6">
    <canvas id="symptoms" width="700" height="250" style="border:1px solid #000000;">
      <script>
        var canvas = document.getElementById('symptoms');
var ctx = canvas.getContext('2d');
var raf;
        function draw() {
          ctx.font = "20px Arial";
ctx.fillText("Physical Symptoms", 10, 30);
ctx.moveTo(10, 42);
ctx.lineTo(190, 42);
ctx.stroke();
ctx.fillText("Palpitation", 10, 70);
ctx.fillText("Sweating", 10, 100);
ctx.fillText("Trembling/Shaking", 10, 130);
ctx.fillText("Upset Stomach", 10, 160);
ctx.fillText("Blanking Mind", 10, 190);
ctx.fillText("Lightheadedness", 10, 220);
ctx.moveTo(240, 20);
ctx.lineTo(240, 230);
ctx.stroke();
ctx.fillText("Emotional/Psychological Symptoms", 270, 30);
ctx.moveTo(270, 42);
ctx.lineTo(600, 42);
ctx.stroke();
ctx.fillText("Avoiding being the center of attention", 270, 70);
  raf = window.requestAnimationFrame(draw);
}
canvas.addEventListener('mouseover', function(e) {
  raf = window.requestAnimationFrame(draw);
});
      </script>
    </canvas>
</div>
<div class="col-md-6">
  <p>Social anxiety reveals itself in many different physical responses.</p>
  <p>Hover over the box to see a few.</p>
  <p>Source: 
    <a href="https://www.mayoclinic.org/diseases-conditions/social-anxiety-disorder/symptoms-causes/syc-20353561">MayoClinic</a>
  </p>
</div>
</div>


{% endblock %}