<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1 class="header1">...so what is social anxiety?</h1>
<!-- Negative Thoughts Minigame -->
<h6>Case Study: Negative Thoughts</h6>
<div class="modal-body row">
  <div class="col-md-7">
    <p>Self-defeating subconscious negative thoughts can shatter one's confidence. Social anxiety can be the cause of
      the irrational thinking.</p>
    <p>Moreover, research reveals that adolescents are more sensitive to the thoughts and impressions of others.
      Negative opinions become more significant and mean more.</p>
    <p>The habit of identifying and eradicating those irrational self-depricating thoughts can aid in easing the
      anxiety. Your thoughts aren't always a perfect representation of reality, and you are awesome!</p>
    <p>We are our own worst critics after all.</p>
    <br>
    <h6>Helpful Resources</h6>
    <a href="https://www.verywellmind.com/what-are-negative-automatic-thoughts-3024608">VeryWell Mind</a>
  </div>
  <div class="col-md-5">
    <br><br>
    <img
      src="https://live-production.wcms.abc-cdn.net.au/6b3e17dd3e66a51dd0c23e1381f07cbe?impolicy=wcms_crop_resize&cropH=1080&cropW=1918&xPos=1&yPos=0&width=862&height=485"
      width="350px" alt="">
  </div>

</div>
<hr>
<h6>Symptoms</h6>
<p>Social anxiety reveals itself in many different physical responses. Hover over the box to see a few.</p>
<p>Always seek out professional assistance and advice for more reliable information.</p>
<p>Source:
  <a
    href="https://www.mayoclinic.org/diseases-conditions/social-anxiety-disorder/symptoms-causes/syc-20353561">MayoClinic</a>
</p>
<canvas id="symptoms" width="900" height="235" style="border:1px solid #000000;">
  <script>
    var canvas = document.getElementById('symptoms');
    var ctx = canvas.getContext('2d');
    var raf;
    function draw() {
      ctx.font = "20px Arial";
      ctx.fillText("Physical Symptoms", 10, 30);
      ctx.moveTo(10, 42);
      ctx.lineTo(190, 42);
      ctx.stroke();
      ctx.fillText("Palpitation", 10, 70);
      ctx.fillText("Sweating", 10, 100);
      ctx.fillText("Trembling/Shaking", 10, 130);
      ctx.fillText("Upset Stomach", 10, 160);
      ctx.fillText("Blanking Mind", 10, 190);
      ctx.fillText("Lightheadedness", 10, 220);
      ctx.moveTo(240, 20);
      ctx.lineTo(240, 220);
      ctx.stroke();
      ctx.fillText("Emotional/Psychological Symptoms", 270, 30);
      ctx.moveTo(270, 42);
      ctx.lineTo(600, 42);
      ctx.stroke();
      ctx.fillText("Avoiding situations where one is...", 270, 70);
      ctx.fillText(" - The center of attention", 280, 100);
      ctx.fillText(" - Embarrased or humilated", 280, 130);
      ctx.fillText(" - Interacting with strangers", 280, 160);
      ctx.fillText(" - Possibly judged negatively", 280, 190);
      ctx.fillText("Constantly expecting the worst consequences in social situations", 270, 220);
      raf = window.requestAnimationFrame(draw);
    }
    canvas.addEventListener('mouseover', function (e) {
      raf = window.requestAnimationFrame(draw);
    });
  </script>
</canvas>
<br>
<hr>
<h6>Past research suggests...</h6>
<div class="modal-body row">
  <div class="col-md-6">
    <ul>
      <li>
        <p>Social experiment and journals indicate that adolescents are more likely to constantly feel watched where
          "they are under constant scrutiny by an imaginary audience." (2)</p>
      </li>
      <li>
        <p>Adolescents have been recorded to release more cortisol, a stress hormone, when they feel watched. (3)</p>
      </li>
      <li>
        <p>Negative social feedback cause teenagers more stress compared to adults. (3)</p>
      </li>
      <li>
        <p>Compared to adults, teenagers spend more effort engaging their brains to understand and socialize with
          others, for the opinions of others remain much more influential and important to adolescents. (4)</p>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <img src="https://buyadrawing.com/wp-content/uploads/2016/06/Eyes-happy-excited.jpg" alt="">
  </div>
</div>
<hr>
<h6>Image Credits</h6>
<p><a href="https://live-production.wcms.abc-cdn.net.au/6b3e17dd3e66a51dd0c23e1381f07cbe?impolicy=wcms_crop_resize&cropH=1080&cropW=1918&xPos=1&yPos=0&width=862&height=485">Brain Picture</a></p>
<p><a href="https://buyadrawing.com/wp-content/uploads/2016/06/Eyes-happy-excited.jpg">Eyes</a></p>
{% endblock %}