{% extends 'base.html' %}

{% block body %}
<div id="center">
  <h1 class="header1">Social Anxiety App</h1>
  <br>
  <img src="https://iiif.wellcomecollection.org/image/B0009838/full/full/0/default.jpg" width="850px" alt="oops!">
</div>
<hr>
<br>
<h1 class="header1">This site includes</h1>
<br>
<hr>
<div class="services-wrapper">
  <div class="container svcs-container">
    <div class="row">
      <div class="col-sm-4 services-box hoverServices">
        <div class="service-icon">
          <img alt="oops!" src="/static/forum.png" width="800px">
        </div>
        <div class="info text-center">
          <h3 class="services-subheading" id="indextable">
            Forum
          </h3>
        </div>
        <div class="info col-lg-10 col-lg-offset-1">
          <ul>
            <li>An easily navigable forum to civilly connect, confer, and share with others about experiences, feelings,
              and anything else.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 services-box hoverServices">
        <div class="service-icon">
          <img alt="oops" src="https://i.kym-cdn.com/photos/images/original/001/975/137/565.jpg">
        </div>
        <div class="info text-center">
          <h3 class="services-subheading" id="indextable">
            Advice Wall
          </h3>
        </div>
        <div class="info col-lg-10 col-lg-offset-1">
          <ul>
            <li>A easy platform to post and find motivational messages and advice! You're very welcome to share!</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 services-box hoverServices last">
        <div class="service-icon">
          <img alt="oops" src="https://i.kym-cdn.com/photos/images/original/001/975/137/565.jpg"
            style="width: 180px; height: 176px;">
        </div>
        <div class="info text-center">
          <h3 class="services-subheading" id="indextable">
            Game
          </h3>
        </div>
        <div class="info col-lg-10 col-lg-offset-1">
          <ul>
            <li>A short interactive story game. Relax and complete small movements to follow along the narrative!</li>
          </ul>
        </div>
      </div>
    </div>
    <!--row-->
    <div class="row">
      <div class="col-sm-4 services-box hoverServices">
        <div class="service-icon">
          <img alt="oops!" src="https://i.kym-cdn.com/photos/images/original/001/975/137/565.jpg">
        </div>
        <div class="info text-center">
          <h3 class="services-subheading" id="indextable">
            Journal
          </h3>
        </div>
        <div class="info col-lg-10 col-lg-offset-1">
          <ul>
            <li>Record and keep feelings, experiences, and memories on a personal page.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 services-box hoverServices">
        <div class="service-icon">
          <img alt="oops" src="https://i.kym-cdn.com/photos/images/original/001/975/137/565.jpg">
        </div>
        <div class="info text-center">
          <h3 class="services-subheading" id="indextable">
            Research
          </h3>
        </div>
        <div class="info col-lg-10 col-lg-offset-1">
          <ul>
            <li>Some quick information from research!</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 services-box hoverServices last">
        <div class="service-icon">
          <img alt="oops" src="https://i.kym-cdn.com/photos/images/original/001/975/137/565.jpg"
            style="width: 180px; height: 176px;">
        </div>
        <div class="info text-center">
          <h3 class="services-subheading" id="indextable">
            About Me
          </h3>
        </div>
        <div class="info col-lg-10 col-lg-offset-1">
          <ul>
            <li>It's a page about me!</li>
          </ul>
        </div>
      </div>
    </div>
    <br><br>
    {% endblock %}