{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="header1">All Posts</h1>
    </div>
    <div class="col">
        <a href="/post/new" class="btn btn-primary btn-sm mt-5" role="button">New Post</a>
    </div>
</div>

{% if posts %}
{% for post in posts %}
<!-- <div class="row border-bottom">
    <div class="col-2">
        {% if loop.index == 1 %}
        <h3 class="display-5">Date</h3>
        {% endif %}
        <a href="/post/{{post.id}}">
            {{moment(post.createdate).calendar()}}
        </a>
    </div>
    <div class="col-2">
        {% if loop.index == 1 %}
        <h3 class="display-5">User</h3>
        {% endif %}
        {{post.author.username}}
    </div>
    <div class="col">
        {% if loop.index == 1 %}
        <h3 class="display-5">Feeling...</h3>
        {% endif %}
        {{post.userfeeling}}
    </div>
    <div class="col">
        {% if loop.index == 1 %}
        <h3 class="display-5">Subject</h3>
        {% endif %}
        {{post.subject}}
    </div>
</div> -->
<div>
    <div class="modal-body row ">
        <div class="col-md-4 postdesign">
            <br>
            {% if post.author.image %}
                <img width="50" class="img-thumbnail float-start me-2"
                src="data:image;base64,{{base64encode(post.author.image.read())}}">
                {% else %}
                <img class="img-thumbnail" width = "100" src="/static/bdog.jpg">
            {% endif %}
            <a href="/post/{{post.id}}">
                Date Posted: {{moment(post.createdate).calendar()}}
            </a>
            <br>
            {% if post.anonymous == "Anonymous" %}
                Anonymous
            {% else %}
                Username: {{post.author.username}}
            {% endif %}
            <br>
            This user is feeling: {{post.userfeeling}}
            <br> <br>
        </div>
        <div class="col-md-8 postdesign">
            <br>
            <div class="postsubject">
                Subject: {{post.subject}}
            </div>
            <br>
            <div class="postcontent">
                {{post.content}}
            </div>
            <br>
        </div>
      </div>
</div>
{% endfor %}
{% else %}
<h1>No Posts</h1>
{% endif %}
<br><br><br><br><br>
{% endblock %}