{% extends 'base.html' %}

{% block body %}
<div class="modal-body row">
    <div class="col-md-6">
        <img src="/static/forum.jpg" width="470px" alt="">
    </div>
    <div class="col-md-6">
        <br><br><br><br>
        <h1 class="header1">Forum</h1>
        <div class="">
            <li>Welcome to the Forum!</li>
            <li>Post anything you'd like (reasonably, of course!), from experiences to questions.</li>
            <li>Maybe you'll get a response!</li>
        </div>
        <a href="/post/new" class="btn btn-primary btn-sm mt-5" role="button">Got a Post?</a>
    </div>
  </div>
<hr><hr>
<div class="row">
    <div class="col-4">
        <h1 class="header1">All Posts</h1>
    </div>
</div>

{% if posts %}
{% for post in posts %}
<div>
    <div class="modal-body row ">
        <div class="col-md-4 postdesign">
            <br>
            {% if post.author.image %}
            {% if post.anonymous == "Anonymous" %}
            <img class="img-thumbnail float-start me-2" width = "50" src="/static/amongus.png">
            {% else %}
            <img width="50" class="img-thumbnail float-start me-2"
            src="data:image;base64,{{base64encode(post.author.image.read())}}">
            {% endif %}
                {% else %}
                <img class="img-thumbnail float-start me-2" width = "50" src="/static/bdog.jpg">
            {% endif %}
            <a href="/post/{{post.id}}">
                Date Posted: {{moment(post.createdate).calendar()}}
            </a>
            <br>
            {% if post.anonymous == "Anonymous" %}
                Anonymous
            {% else %}
                Username: {{post.author.username}}
            {% endif %}
            <br>
            This user is feeling: {{post.userfeeling}}
            <br> <br>
        </div>
        <div class="col-md-8 postdesign">
            <br>
            <div class="postsubject">
                Subject: {{post.subject}}
            </div>
            <br>
            <div class="postcontent">
                {{post.content}}
            </div>
            <br>
        </div>
      </div>
</div>
{% endfor %}
{% else %}
<h1>No Posts</h1>
{% endif %}
<br>
{% endblock %}