<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<!-- <div class="header1">
    <p>Research</p>
</div> -->
<h1 class="header1">Research</h1>
<h5>So What is Social Anxiety?</h5>
<ul>
    <li><p>Social anxiety affects 19 million people in America and 1 out of 3 adolescents between the ages of 13 and 18. (1)</p></li>
    <li><p>It is characterized to be a common anxiety disorder that can disrupt everyday behavior by blooming stress out of the fear of being humilated or viewed negatively. (5)</p></li>
    <li><p>Psychological Symptoms (5)</p></li>
    <ul>
        <li><p>Feeling an intense fear that one might humilate themselves, seem anxious to others, or be in a situation where one is viewed negatively by those around them</p></li>
        <li><p>Avoiding speaking or engaging in situations where one might be the center of attention</p></li>
        <li><p>Reflecting and overthinking on the negative flaws on one's performance</p></li>
    </ul>
    <li><p>Physical Symptoms (5)</p></li>
    <ul>
        <li><p>Trembling, blushing, and sweating</p></li>
        <li><p>Upset stomach from nervousness</p></li>
        <li><p>Muscle tension</p></li>
        <li><p>Dizziness or blank mind</p></li>
    </ul>
    <li><p>Performance type: one experienecs great anxiety speaking/performing in public but not in other situations</p></li>
</ul>
<h5><p>Past research suggests that adolescents are more sensitive to social evaluation.</p></h5>
<ul>
    <li><p>Social experiment and journals indicate that adolescents are more likely to constantly feel watched where "they are under constant scrutiny by an imaginary audience." (2)</p></li>
    <li><p>Adolescents have been recorded to release more cortisol, a stress hormone, when they feel watched. (3)</p></li>
    <li><p>Negative social feedback cause teenagers more stress compared to adults. (3)</p></li>
    <li><p>Compared to adults, teenagers spend more effort engaging their brains to understand and socialize with others, for the opinions of others remain much more influential and important to adolescents. (4)</p></li>
</ul>
<h5>Sources (thank you, to be polished in the near future)</h5>
<ol>
    <li>Polaris Teen Center</li>
    <li>Elkin and Bowen</li>
    <li>Gunnar, Wewerka, Frenn, Long, & Griggs, 2009; Stroud et al., 200</li>
    <li>“The Teenage Brain: Sensitivity to Social Evaluation” by Leah H. Somerville, The Teenage Brain: Sensitivity to Social Evaluation - Leah H. Somerville, 2013 </li>
    <li>Mayo Clinic</li>
</ol>
<hr>
<h5>Version Notes:</h5>
<p>Version 1</p>
<p>Release note: Started About Me Page</p>
{% endblock %}
